.edit-account-custom textarea::placeholder {
  color: #a8a8a8 !important;
}
.edit-account-custom textarea {
  color: #fff !important;
  resize: none;
}
.edit-account-custom textarea:focus {
  border: 1px solid #fff !important;
}

.edit-account-custom .ant-input-data-count {
  color: #a8a8a8 !important;
}
.edit-account-custom .ant-select-selector {
  background-color: #000 !important;
  color: #a8a8a8 !important;
  border: 1px solid #484848 !important;
}
.edit-account-custom .ant-select-selection-item {
  padding-right: 0 !important;
}
.edit-account-custom .ant-select-arrow {
  color: #a8a8a8 !important;
}
.edit-account-custom .ant-switch {
  background-color: #363636;
}
.edit-account-custom .ant-switch:hover {
  background-color: #363636;
}
.edit-account-custom .ant-switch-checked {
  background-color: #4096ff;
}
